/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Animation */
.js-scroll {
  opacity: 0;
  transition: opacity 1000ms;
}
.js-scroll.scrolled {
  opacity: 1;
}
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1000ms ease-in-out both;
}
.scrolled.slide-right {
  animation: slide-in-right 1500ms ease-in-out both;
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Document's Style */
* {
  font-family: "Nunito";
}
body {
  width: 100vw !important;
  overflow: overlay;
}
section {
  position: relative;
  z-index: 1;
}
section span.h6 {
  color: rgb(180, 180, 180) !important;
}
.btn:hover {
  opacity: 70% !important;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgb(150, 150, 150);
}

/* Header Style */
header {
  padding: 48px 0 84px;

  background: linear-gradient(rgba(15, 60, 120, 0.7), rgba(35, 85, 160, 0.7), rgba(65, 125, 215, 0.7), rgba(95, 160, 255, 0.7)), url("https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg");
  background-size: cover;

  text-shadow: 0.5px 0.5px 6px rgba(15, 60, 120, 1);
}
header .picture {
  width: 162px;

  aspect-ratio: 1 / 1;
  overflow: hidden;

  box-shadow: 0.5px 0.5px 6px rgba(15, 60, 120, 1);
}
header .picture img {
  height: 100%;
}
.astronaut {
  width: 168px;

  right: 2%;
  bottom: 6%;
  z-index: 1;

  animation: 4s alternate-reverse infinite astronaut;
}
@keyframes astronaut {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(12);
  }
}
.header-waves {
  left: 0;
  bottom: -25%;

  transform: scaleX(-1);
}
@media (max-width: 480px) {
  header {
    padding: 48px 0 84px;
  }
  header .picture {
    width: 142px;
  }
  .astronaut {
    width: 118px;

    right: 8px;
    bottom: -16px;
  }
  .header-waves {
    bottom: -2px;
  }
}

/* Contact Style */
@media (max-width: 480px) {
  #contact .w-25,
  #contact .w-75 {
    width: 100% !important;
  }
  #contact .w-25 {
    margin: 0 0 18px;
  }
}

/* Footer Style */
footer p {
  position: relative;
  z-index: 1;
}
.footer-waves {
  left: 0;
  bottom: 0;
}
